.main-footer{
    height: 25vh;
    background-color: rgb(5, 43, 87);
    color: white;
    display: flex;
}

.f-heading{
    font-size: 25px;
}

.footer-left{
    display: flex;
    flex: 0.5;
    border-left: 1px solid rgba(182, 181, 181, 0.288);
    align-items: center;
    padding-left: 20px;
    font-size: 17px;
    flex-direction: column; 
     justify-content: center;
}
.user-login .organisation-login{
    cursor: pointer;
}

